.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.headerTitles {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
  }

  .headerTitles {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  .taskCount.taskCount {
    margin-bottom: 20px;
  }

  .headerButtons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
  }
}

.taskCount.taskCount {
  margin-bottom: 20px;
}

.headerButtons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}