.mainPage {
  max-width: 1300px;
  padding: 60px;
  margin: 0 auto;
}

.mainSection{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.verticalLayout {
  display: flex;
  flex-direction: column;
}